.ba-main-menu{
    a{
        color: $black;
        &:hover{
            color: lighten($primary-color, 20%);
        }
    }
}
.off-canvas{
    .menu{
        a{
            padding: 10px;
        }
    }
}
.ba-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 27px;
    height: 80px;
    border-bottom: 1px solid #fff;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, .1) 100%);
}

.ba-main-menu {
    li {
        a { 
            padding: 0 10px;
            text-transform: uppercase;
            color: #fff;
            position: relative;
            &:hover {
                color: #fff;
            }
            &:hover::after {
                content: '';
                height: 2px;
                width: 100%;
                background-color: $secondary-color;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
            }
        }
    }
    li + li {
        margin-left: 35px;
    }
}
.logo {
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.ba-menu-right {
    a { 
        height: 80px;
        padding: 28px 30px;
        border-left: 1px solid #fff;
        color: $white;
        text-transform: uppercase;
        &:hover {
            color: #000;
        }
    }
}