<header class="ba-header-wrap">
    <nav class="ba-menu-left">
        <button class="menu-icon dark hide-for-large" type="button" data-open="offCanvas" aria-label="Show menu">
        </button>
        <ul class="menu ba-main-menu show-for-large" data-smooth-scroll>
            <li><a href="#">Home</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#faq">FAQS</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="ba-logo">
        <a href="#" class="logo">
            CBD
        </a>
    </div>
    <div class="ba-menu-right hide-for-small-only">
        <a href="#">Login</a>
        <a href="#">Searc</a>
        <a href="#">Cart (0)</a>
    </div>
</header>